.cocktailDetailsImage {
    background-image: url('../assets/CocktailDetailsPhoto.jpg');
    background-size: cover;
    background-position: center;
    z-index: -2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cocktail-details-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  .cocktail-details-image img {
    max-width: 300px;
    height: auto;
  }
  
  .text-white {
    color: white;
  }
  
  .cocktail-details-text {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
  }
  
  .notes-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .save-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .save-button:hover {
    background-color: #0056b3;
  }
  